; begin auth token
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:username=bangitsllc
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:_password=NzV0dGJvbGM2ZG8zdGxicXlmc3IycXRqeXF3dnB3a2hvcWVqMjJta3dnZnkyYnoya2l6YQ==
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:email=support@bangits.com
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:username=bangitsllc
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:_password=NzV0dGJvbGM2ZG8zdGxicXlmc3IycXRqeXF3dnB3a2hvcWVqMjJta3dnZnkyYnoya2l6YQ==
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:email=support@bangits.com
; end auth token
@atom:registry=https://pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/
@my-ui:registry=https://pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/
always-auth=true