; begin auth token
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:username=bangitsllc
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:_password=Znc1cXV0N2xhbW5zNnhobWs1Z3Vvenh5cHA3NnhkejRuaW9sNzY0aXpiN3YybDQ1ZDJxcQ==
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/:email=support@bangits.com
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:username=bangitsllc
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:_password=Znc1cXV0N2xhbW5zNnhobWs1Z3Vvenh5cHA3NnhkejRuaW9sNzY0aXpiN3YybDQ1ZDJxcQ==
//pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/:email=support@bangits.com
; end auth token
@atom:registry=https://pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/
@my-ui:registry=https://pkgs.dev.azure.com/bangitsllc/Common/_packaging/Bangits.Atom.Common/npm/registry/
always-auth=true